@font-face {
    font-family: dcefont;
    font-style: 'normal';
    font-weight: 'normal';
    src: url(../fonts/dcefont.woff) format('woff')
}
.hidden {
    visibility: hidden;
}

.zroxo.fieldgroup .tdb5dh54sdh {
    line-height: 1.25;
}

.zroxo.fieldgroup .tdb5dh54sdh .fieldhelpertext {
    margin-top: .1875rem;
}

.zroxo.fieldhelpertext {
    margin-top: 0;
    margin-left: 0;
}

.zroxo.fieldhelpertext {
    font-size: .75rem;
    color: #717171;
}

.help-block.form-error {
    color: #FFF;
    font-size: 12px;
    font-family: inherit;
    border-color: #000000;
    background-color: #bf2155;
    box-sizing: 33px;
    border-width: 100%;
    border: 1px solid #FF0000;
    border-width: medium;
}

.zroxo.fieldgroup .vertical.fieldtext .label-wrapper {
    margin-bottom: .1875rem;
}

@media screen and (min-width: 768px) .zroxo.fieldgroup .fieldtext {
    font-size: 1rem;
}

.zroxo.fieldgroup .fieldtext {
    letter-spacing: 0;
    text-decoration: none;
    font-size: .875rem;
    font-weight: 400;
    color: #414042;
}

.container-fluid:after,
.container-fluid:before,
.row:after,
.row:before {
    display: table;
    content: ' ';
}

@media (min-width: 768px) .col-sm-6 {
    width: 50%;
}

.zroxo.fieldgroup .vertical {
    margin-bottom: 1.875rem;
}

.zroxo.fieldgroup .horizontal,
.zroxo.fieldgroup .vertical {
    margin-bottom: 1.125rem;
    margin-top: -.3125rem;
}

.zroxo.fieldlabel {
    color: #717171;
}

.zroxo.fieldgroup .fieldtext--input {
    border: none;
    padding: 0;
    width: 100%;
    background-color: transparent;
    display: block;
}
.zroxo.ad a.wrapping-tag .yjhsdxcb5ds4b6, .zroxo.badge, .zroxo.button {
    white-space: nowrap
}

.container, .xcbd5h4bsdbdsb {
    margin-right: auto;
    margin-left: auto
}


.xcbd5h4bsdbdsb:after, .xcbd5h4bsdbdsb:before, .row:after, .row:before {
    display: table;
    content: ' '
}

.xcbd5h4bsdbdsb:after, .container:after, .row:after {
    clear: both
}



.container, .xcbd5h4bsdbdsb {
    padding-left: 12px;
    padding-right: 12px
}



.zroxo.button .label {
    font-size: 1rem;
    font-weight: 400;
    color: #414042;
    letter-spacing: 0;
    text-decoration: none
}

.zroxo.button.primary .label {
    font-size: 1rem;
    font-weight: 600;
    color: #fff;
    letter-spacing: 0;
    text-decoration: none
}

.zroxo.button.t8g7d6dh4db .label, .zroxo.button.t8g7d6dh4db:disabled .label, .zroxo.button:disabled .label, .zroxo.checkbox .checkbox-label, .zroxo.checkbox.disabled .checkbox-label, .zroxo.description.list dd, .zroxo.description.list dd a, .zroxo.description.list dd a:active, .zroxo.description.list dd a:hover, .zroxo.description.list dd a:visited, .zroxo.description.list dt, .zroxo.fieldhelpertext, .zroxo.fieldhelpertext a, .zroxo.fieldhelpertext a:active, .zroxo.fieldhelpertext a:hover, .zroxo.fieldhelpertext a:visited, .zroxo.fieldlabel.vertical {
    font-weight: 400;
    letter-spacing: 0;
    text-decoration: none
}



.zroxo.button.t8g7d6dh4db .label {
    font-size: 1rem;
    color: #666
}



.zroxo.fieldhelpertext {
    font-size: .75rem;
    color: #717171
}


.zroxo.fieldlabel.vertical {
    font-size: .75rem;
    color: #717171
}

@media screen and (min-width: 768px) {
    .zroxo.fieldlabel.vertical {
        font-size: .875rem
    }
}

@media only screen and (min-width: 768px) {
    .zroxo.fieldlabel.vertical {
        font-size: .875rem
    }
}



.xcbd5h4bsdbdsb {
    max-width: 1440px
}

.row {
    margin-left: -12px;
    margin-right: -12px
}

.col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
    position: relative;
    min-height: .0625rem;
    padding-left: 12px;
    padding-right: 12px
}

.col-xs-1, .col-xs-10, .col-xs-11, .col-xs-12, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9 {
    float: left
}

.col-xs-12 {
    width: 100%
}



.col-xs-4 {
    width: 33.33333333%
}



@media (min-width: 768px) {
    .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9 {
        float: left
    }

    .col-sm-12 {
        width: 100%
    }

   

    .col-sm-8 {
        width: 66.66666667%
    }

   

    .col-sm-6 {
        width: 50%
    }

  

    .col-sm-push-2 {
        left: 16.66666667%
    }

  
}


.header {
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: #666
}


@media (min-width: 1200px) {
    .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9 {
        float: left
    }

   

    .col-lg-6 {
        width: 50%
    }

   

    .col-lg-push-3 {
        left: 25%
    }

   
}



.zroxo.input, .zroxo.input:disabled, .zroxo.label {
    font-weight: 400;
    letter-spacing: 0
}


.zroxo.input {
    font-size: .875rem;
    color: #414042;
    text-decoration: none
}

@media screen and (min-width: 768px) {
    .zroxo.input {
        font-size: 1rem;
        color: #414042
    }
}



.zroxo.link, .zroxo.link .yjhsdxcb5ds4b6 {
    color: #126bc5;
    font-weight: 400;
    letter-spacing: 0
}

.zroxo.link {
    text-decoration: none;
    font-size: .8125rem
}

@media screen and (min-width: 768px) {
    .zroxo.link {
        font-size: .875rem
    }
}

@media only screen and (min-width: 768px) {
    .zroxo.link {
        font-size: .875rem
    }
}

.zroxo.link .yjhsdxcb5ds4b6 {
    font-size: .8125rem
}

@media screen and (min-width: 768px) {
    .zroxo.link .yjhsdxcb5ds4b6 {
        font-size: .875rem
    }
}

@media only screen and (min-width: 768px) {
    .zroxo.link .yjhsdxcb5ds4b6 {
        font-size: .875rem
    }
}


p {
    font-size: .6em
}



.zroxo.select {
    font-size: .875rem;
    font-weight: 400;
    color: #414042;
    letter-spacing: 0;
    text-decoration: none
}

@media screen and (min-width: 768px) {
    .zroxo.select {
        font-size: 1rem;
        color: #414042
    }
}



















html {
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif
}



.BODY {
    letter-spacing: 0;
    text-decoration: none
}

@media screen and (min-width: 768px) {


    .BODY {
        font-size: .875rem
    }
}



.Ddff6n5dfn {
    letter-spacing: 0;
    text-decoration: none
}


@media screen and (min-width: 768px) {
    .DATA a, .DATA a:active, .DATA a:hover, .DATA a:visited, .Ddff6n5dfn, .DATALABELH {
        font-size: 1rem
    }

    
}



.vncn5fd4ndf1n {
    font-size: .875rem;
    font-weight: 600;
    color: #fff;
    letter-spacing: 0;
    text-decoration: none
}

@media screen and (min-width: 768px) {
    .vncn5fd4ndf1n {
        font-size: 1rem
    }
}



.util.bcvbdsndf7845dbv, .util.bcvbdsndf7845dbv a, .util.bcvbdsndf7845dbv a:active, .util.bcvbdsndf7845dbv a:focus, .util.bcvbdsndf7845dbv a:hover, .util.bcvbdsndf7845dbv a:link, .util.bcvbdsndf7845dbv a:visited, [accessibleText=true], [accessibleText=true] a, [accessibleText=true] a:active, [accessibleText=true] a:focus, [accessibleText=true] a:hover, [accessibleText=true] a:link, [accessibleText=true] a:visited, [accessibleText=true], [accessibleText=true] a, [accessibleText=true] a:active, [accessibleText=true] a:focus, [accessibleText=true] a:hover, [accessibleText=true] a:link, [accessibleText=true] a:visited {
    position: absolute!important;
    clip: rect(.0625rem .0625rem .0625rem .0625rem);
    clip: rect(.0625rem, .0625rem, .0625rem, .0625rem);
    padding: 0!important;
    border: 0!important;
    height: .0625rem!important;
    width: .0625rem!important;
    overflow: hidden
}


.zroxo.documentviewer .document button, .zroxo.documentviewer .document select, .zroxo.icon {
    text-transform: none
}


.util.yiuxcnx3453.right {
    text-align: right
}


.util.float.right {
    float: right
}


:focus {
    outline: 0
}



.zroxo.button, .zroxo.button:active .label {
    color: #414042
}


.zroxo.button {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: .5rem;
    font-size: 1rem;
    font-weight: 400;
    background-color: #d6d6d6;
    border: none;
    border-radius: .3125rem;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    outline: transparent solid .0625rem;
    -moz-appearance: none;
    -webkit-appearance: none;
    -webkit-padding-before: 0;
    -webkit-padding-end: 0;
    -webkit-padding-after: 0;
    -webkit-padding-start: 0
}



.zroxo.button .label {
    display: inline-block;
    line-height: 2.5rem;
    margin: 0 1rem
}


.zroxo.button.primary {
    background-color: #0b6efd;
    border: none
}


.zroxo.button.t8g7d6dh4db {
    background-color: #fff;
    border: .0625rem solid #959595
}


.zroxo.button:not(.fluid) {
    min-width: 10.1875rem
}




.zroxo.fieldgroup {
    margin-top: 0;
    text-align: left
}

.zroxo.fieldgroup .horizontal, .zroxo.fieldgroup .vertical {
    margin-bottom: 1.125rem;
    margin-top: -.3125rem
}


.zroxo.fieldgroup .vertical:not(.fieldtext) .label-wrapper {
    display: inline-block;
    margin-bottom: .5rem
}



.zroxo.fieldgroup .ytynfdf6n {
    display: none
}

.zroxo.fieldgroup .tdb5dh54sdh {
    line-height: 1.25
}



.zroxo.fieldgroup .tdb5dh54sdh .fieldhelpertext {
    margin-top: .1875rem
}



.zroxo.fieldhelpertext {
    margin-top: 0;
    margin-left: 0
}



.zroxo.fieldlabel {
    color: #717171
}


.zroxo.icon {
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    line-height: 1;
    text-decoration: none;
    display: inline-block;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    padding: 0;
    color: #666;
    font-size: 1em;
    font-family: dcefont
}




.zroxo.icon.menulines:after {
    content: '\f105'
}



.zroxo.icon.expanddown:after {
    content: '\f10e'
}



.zroxo.icon.chasepay, .zroxo.icon.feedback, .zroxo.icon.flag, .zroxo.icon.megaphone-small, .zroxo.icon.menulines, .zroxo.icon.profile, .zroxo.icon.search, .zroxo.icon.video-play {
    color: #fff
}



.zroxo.iconwrap {
    cursor: default
}

.zroxo.iconwrap span.bcvbdsndf7845dbv {
    position: absolute!important;
    clip: rect(.0625rem .0625rem .0625rem .0625rem);
    clip: rect(.0625rem, .0625rem, .0625rem, .0625rem);
    padding: 0!important;
    border: 0!important;
    height: .0625rem!important;
    width: .0625rem!important;
    overflow: hidden
}



.zroxo.input, .zroxo.input:focus {
    outline: transparent solid .0625rem
}


.zroxo.input.unmasked-number, .zroxo.validationinput .ytynfdf6n {
    display: none
}

.zroxo.input {
    width: 100%;
    height: 2.5rem;
    border-radius: 0;
    -webkit-appearance: none;
    -webkit-user-select: text!important
}


.zroxo.input:focus {
    border-color: #0b6efd;
    box-shadow: .0625rem .0625rem 0 #0b6efd, .0625rem -.0625rem 0 #0b6efd, -.0625rem .0625rem 0 #0b6efd, -.0625rem -.0625rem 0 #0b6efd
}





.zroxo.link .yjhsdxcb5ds4b6 {
    white-space: nowrap;
    position: relative
}

@media (max-width: 767px) {
    .zroxo.link .yjhsdxcb5ds4b6 {
        padding: .5rem;
        margin-left: -.5rem;
        margin-right: -.5rem
    }
}


.zroxo.progress.bar {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    background-color: #d8d8d8;
    height: .25rem;
    width: 100%;
    border: .0625rem solid transparent;
    border-radius: .0625rem
}



.zroxo.progress.bar .fill {
    height: .375rem;
    background-color: #0b6efd;
    border-radius: .125rem
}




@media screen {
    .zroxo.select select {
        -webkit-appearance: none;
        -moz-appearance: none;
        text-indent: .000625rem;
        text-overflow: '';
        z-index: 1;
        width: 100%;
        background: #fff;
        border: .0625rem solid #CCC;
        border-radius: 0;
        padding: .5rem 2.5rem .5rem 1rem;
        white-space: pre-wrap
    }
}


.zroxo.select .wrap, .zroxo.select .wrap .input {
    display: inline-block
}

.zroxo.select .wrap {
    position: relative;
    vertical-align: middle;
    width: 100%
}

.zroxo.select .wrap .input-icon {
    font-size: 1rem;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    width: auto;
    color: #414042
}


.zroxo.select .wrap span {
    pointer-events: none
}





.H1, .H1D, .H1L, .H1P, .H2, h1, h2 {
    font-weight: 300
}


.zroxo.alert.error .message .zroxo.link a.yjhsdxcb5ds4b6, .zroxo.link .yjhsdxcb5ds4b6, .zroxo.modal .zroxo.alert .message a, .zroxo.modal .zroxo.alert .message a:visited, a {
    text-decoration: underline
}



body:after {
    content: 'xs';
    display: none
}

@media screen and (min-width: 768px) {
    body:after {
        content: 'sm';
        display: none
    }
}

@media screen and (min-width: 992px) {
    body:after {
        content: 'md';
        display: none
    }
}

@media screen and (min-width: 1200px) {
    body:after {
        content: 'lg';
        display: none
    }
}

body .zroxo.input.error, body .zroxo.input.validation__error, body .zroxo.input:focus, body .zroxo.select select.validation__error, body .zroxo.select select:focus, body .zroxo.styledselect .input.error, body .zroxo.styledselect .input:focus, body .zroxo.validationinput.validation__error, body .zroxo.validationinput:focus, body .zroxo.validationselect select.validation__error, body .zroxo.validationselect select:focus, body .zroxo.validationstyledselect .input.validation__error, body .zroxo.validationstyledselect .input:focus {
    padding-left: 4px
}



.field-mt-24 {
    margin-top: 1.5rem
}



.field-mt-0 {
    margin-top: 0
}


.field-mb-24 {
    margin-bottom: 1.5rem
}



.field-mb-12 {
    margin-bottom: .75rem
}


.zroxo.fieldgroup .vertical {
    margin-bottom: 1.875rem
}



.H1, .H1L, h1 {
    font-size: 1.5rem;
    color: #666
}

@media only screen and (min-width: 768px) {
    .H1, .H1L, h1 {
        font-size: 1.625rem
    }
}



.BODY, body .BODY {
    font-size: .8125rem;
    font-weight: 400;
    color: #414042
}

@media only screen and (min-width: 768px) {
    .BODY, body .BODY {
        font-size: .875rem
    }
}



.Ddff6n5dfn {
    font-size: .875rem;
    font-weight: 600;
    color: #414042
}

@media only screen and (min-width: 768px) {
    .Ddff6n5dfn {
        font-size: 1rem
    }
}



body .xcbd5h4bsdbdsb {
    max-width: 100%
}



@media only screen and (max-width: 767px) {
    .zroxo.fieldgroup.ytu5f4sdfn>.vertical {
        display: block;
        width: 100%;
        margin-bottom: 1.875rem
    }
}


a#BACKbtn:before, a#CANCEL-nav-ctr-btn:before, a#back:before, a#cancel-link:before, a#closeSiteExit:before, a#exitApp:before, a#prev-link:before, a#returnToOrigination:before {
    content: "\f118";
    font-family: dcefont;
    top: 1px;
    position: relative
}



#blx-city-fldgrp-fieldgroup .fieldlabel, #blx-state-fldgrp-fieldgroup .fieldlabel, .zroxobb.multiType .fieldlabel {
    font-size: .875rem
}



#content>div {
    padding-top: 1.125rem
}



.zroxo.input {
    padding: 0;
    border: 1px solid #FFF;
    border-bottom: 1px solid #717171
}



.origination-custom.zroxo.progress.bar {
    background-color: #C6C6C6;
    height: .25rem;
    margin: 0;
    border-radius: 3rem;
    position: relative
}

.origination-custom.zroxo.progress.bar:after {
    content: '';
    position: absolute;
    border-width: .1rem 0;
    border-style: solid;
    border-color: #0b6efd;
    background-color: #0b6efd;
    height: .25rem;
    top: -2.5px;
    -webkit-transition: width 2s;
    moz-transition: width 2s;
    transition: width 2s;
    margin: 0;
    border-radius: .5rem
}

.vj94ndfn4dfn {
    margin-top: 4.375rem
}

@media only screen and (max-width: 767px) {
    .vj94ndfn4dfn {
        margin-top: 3rem
    }

 
}

.vj94ndfn4dfn h1 {
    text-align: left;
    padding: 0;
    font-weight: 400;
    color: #414042;
    font-size: 1rem;
    margin: .75rem 0 .5rem
}

@media (max-width: 767px) {
    .vj94ndfn4dfn h1 {
        margin-bottom: .375rem
    }
}


.zroxo.select select {
    border: 1px solid #FFF;
    border-bottom: 1px solid #717171;
    padding: .5em 2.5em .5em 0
}

.zroxo.select .wrap.right .input-icon {
    right: .25rem
}

.zroxo.fieldgroup .zroxo.input {
    border: 0.1px solid #f1ecec;
    border-bottom: 1px solid #717171;
}



.zroxo.button {
    transition: background-color .4s ease, border-color .4s ease
}



.a8f5dfn4df4nd {
    position: fixed;
    z-index: 3;
    width: 100%
}


.a8f5dfn4df4nd .ytik54fnvc {
    display: block
}



.a8f5dfn4df4nd .top {
    background-color: #007ac0;
    height: 4.375rem;
    line-height: 3.375rem;
    margin: 0;
    padding-top: 8px
}

@media only screen and (max-width: 767px) {
    .a8f5dfn4df4nd .top {
        height: 3rem;
        line-height: 3rem;
        padding-top: 0
    }
}


.a8f5dfn4df4nd #exitApp.yjhsdxcb5ds4b6.vncn5fd4ndf1n {
    font-size: 1rem;
    font-weight: 600;
    color: #fff;
    letter-spacing: 0;
    text-decoration: none
}



.a8f5dfn4df4nd .octogon {
    display: block;
    margin: .688rem auto auto
}

@media (min-width: 426px) {
    .a8f5dfn4df4nd #exitlink {
        margin-left: 42px
    }

}

@media (max-width: 425px) {

    .a8f5dfn4df4nd #exitlink {
        margin-left: 11px
    }

}


#sdb4sdb4sdsc {
    outline: 0
}


.ACCOUNT_SETUP_DETAILS #CARD_ART_CONTAINER .zroxo.accordion .accordion__header, body #rtjfndf654n {
    padding: 0
}



.xcfd4df5ndf {
    margin-bottom: 1.875rem;
    padding-top: 1.875rem
}

.xcfd4df5ndf button.button {
    margin-top: 0;
    margin-bottom: 0
}

.xcfd4df5ndf button.button:first-of-type {
    margin-right: 0
}

@media only screen and (max-width: 767px) {
    .xcfd4df5ndf {
        margin-bottom: 0;
        padding-top: 30px
    }

    .xcfd4df5ndf button.button {
        width: 100%;
        margin: .5625rem 0
    }

}


#Bvdfnf65ndf .b5x4bxc4b {
    padding-top: .75rem
}

